.contAuth{
    height: 100vh;
    background-image: url(../../../public/assets/images/s-migaj-Yui5vfKHuzs-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
}

.divRegister{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10%;
    border: 4px solid black;
    margin-top: 10vh;
    background-color: aliceblue;
}